@import "../technology-provider-panel/views/scss/technology-provider-panel.scss";

/* <div class="scrollbar" id="style-1">
  <div class="force-overflow"></div>
</div> */

.scrollbar {
    overflow-y: auto;
    padding-right: 0.25rem;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #99c9ff;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    border: 3.5px solid transparent;
    background-clip: content-box;
    border-radius: 10px;
    width: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #001f3f;
}
.scrollbarThin {
    overflow-y: auto;
    padding-right: 0.5rem;
}

.scrollbarThin::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #99c9ff;
}

.scrollbarThin::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.scrollbarThin::-webkit-scrollbar-thumb {
    border: 1.5px solid transparent;
    background-clip: content-box;
    border-radius: 5px;
    width: 3.5px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: #001f3f;
}

.dzu-dropzone {
    overflow: hidden;
    border: 0;
    height: 100%;
    min-height: 40px;
}
.dzu-previewContainer{
    flex-direction: column;
    padding: 0;
}
.dzu-submitButton{
    display: none;
}
.dzu-submitButtonContainer{
    display: none;
}
.dzu-previewImage{
    max-width : 300px;
    max-height : 200px;
    margin-bottom: 5%;
    border-radius: 7px;
}


/* ----------------------------------------------------------------- */

.scrollbarInputs {
    overflow-y: auto;
    scroll-margin-right: 15px;
    /* padding-right: 0.25rem; */
}


.scrollbarInputs::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
    /* background-color: #EAEEF3; */
    background-color: transparent;
    
}

.scrollbarInputs::-webkit-scrollbar {
    width: 10px;
    
    
}

.scrollbarInputs::-webkit-scrollbar-thumb {
    border: 3.5px solid transparent;
    background-clip: content-box;
    border-radius: 10px;
    width: 7px;
   
    background-color: rgb(158, 145, 145);
}
